@use 'tailwindcss/base';
@use 'tailwindcss/components';
@use 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




:root {
  --white-color: #FFFFFF;
  --light-grey-color: #424242;
  --light-grey-color-2: #6F6F6F;
  --light-grey-color-3: #727272;
  --light-grey-color-4: #D8D8D8;
  --dark-grey-color: #313433;
  --dark-grey-color-2: #3B3B3B;
  --text-color: #000000;
  --background-forground: #f2f4f7;
  --background-main: var(--white-color);
  --primary-color: #3551F2;

  --header-height: 91px;

}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--background-main);
  color: var(--text-color);
}